<!DOCTYPE html>
<html>
<head>
	<style>
	 #top{
     background: #050A4D;
     height: 45px;
     width:1265px;
     margin-left: -10px;
     margin-right: -10px;
     margin-top: -25px;  

	}
	.help{
	  color:white;
	  font-family: "Verdana", Arial, Sans-serif;
	  font-weight: normal;
	}
	#location {
	   float:right;
	   margin-top: -40px;
	   margin-right: 275px;
	   padding: 1px 6px 1px 6px;
	   border: none;
	   background-color: transparent;
	}


	#call{
	   float:right;
	   margin-top: -40px;
	   margin-right: 60px;
	   padding: 1px 6px 1px 6px;
	   border: none;
	   background-color: transparent;
	}
	#container{
		width: 1100px;
		height: 400px;
		margin:auto;
		margin-top: 30px;
	}
	select:focus{
		outline:none;
		border-radius: 5px;
		border-color: #B2AAFC;
		box-shadow: 0px  0px  7px #A49AF9;
	}
	input:focus{
	    outline:none;
		border-radius: 5px;
		border-color: #B2AAFC;
		box-shadow: 0px  0px  7px #A49AF9;	
	}
	.btn{
		background: #050A4D;
		width: 100px;
		height: 33px;
		border-radius: 7px;
		color: white;
		border: none;
		outline: none;
		margin-left: 20px;
		letter-spacing: 2px;
	}
	.btn:hover{
		background: #DD261F;
		letter-spacing: 3px;
		-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
		transition: all 0.4s ease 0s;
	}
	.btnn{
		background: #050A4D;
		width: 100px;
		height: 33px;
		border-radius: 7px;
		color: white;
		border: none;
		outline: none;
		margin-left: 20px;
		letter-spacing: 2px;
	}
	.btnn:hover{
		background: #DD261F;
		letter-spacing: 3px;
		-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
		transition: all 0.4s ease 0s;
	}
	#container1{
    position: absolute;
    margin-left: 35px;
    top: 500px;
    left: 100px;
    bottom:0;
    right: 0; 
    display: inline-block ;
    visibility: hidden;
   }
   #container2{
    position: absolute;
    margin-left: 35px;
    top: 500px;
    left: 100px;
    bottom:0;
    right: 0; 
    display: inline-block ;
    visibility: hidden;
   }
    #container3{
     position: absolute;
    margin-left: 35px;
    top: 500px;
    left: 100px;
    bottom:0;
    right: 0; 
    display: inline-block ;
    visibility: hidden;
    
   }
    #container4{
    position: absolute;
    margin-left: 35px;
    top: 500px;
    left: 100px;
    bottom:0;
    right: 0; 
    display: inline-block ;
    visibility: hidden;
   }
    #container5{
    position: absolute;
     margin-left: 35px;
    top: 500px;
    left: 100px;
    bottom:0;
    right: 0; 
    display: inline-block ;
    visibility: hidden;
   }
   .myslide{
   	float: left;
   	clear: none;
   	position: relative;
   }
   .overlay {
	  position: absolute;
	  bottom: 0;
	  left: 7px;
	  right: 0;
	  top: 1px;
	  background: #000000;
	  overflow: hidden;
	  width: 280px;
	  height: 150px;
	  opacity: .5;
	  -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: .5s ease;
	  transition: .5s ease;
	}
   .myslide:hover .overlay {
  	 -webkit-transform: scale(1);
     -ms-transform: scale(1);
     transform: scale(1);
   }
   .text {
	  color: white;
	  font-size: 20px;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  text-align: center;
	}
	.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 450px;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#myBtn{
	width: 280px;
	height: 150px;
}
</style>
	<title>Tiles</title>
</head>
<body>
	<div id="top">
	   <h4 class="help" style="padding-top: 15px;margin-left: 850px">Help</h4>
		  <button id="location" style="outline: none" type="Submit">
			<img id="loc" src="static/images/location.png" style="float:left;margin-right: 4pt;margin-top: 1pt" width="17" height="17" >
        	<span style="color:white;font-size:12pt;font-family:Verdana", Arial, Sans-serif>India</span>
      </button>
      <button id="call" style="outline: none" type="Submit">
			<img src="static/images/call.png" style="float:left;margin-right: 6pt;margin-top: 2pt" width="17" height="17">
        	<span style="color:white;font-size:12pt;font-family:Verdana", Arial, Sans-serif>(+91) 8553859227</span>
      </button>
        <hr style="height:3px;border:none;color:#333;background-color:#333;margin-top: -9pt" />
    </div>
    <div id="container">
       <h4 style="color:#050A4D;font-family:Trebuchet MS;font-size: 18px;font-weight: normal;line-height: 24pt;letter-spacing: 2px;">Surrender in to the charm of exquisite floorings that make your interiors speak the language of grandeur. Available in differing hues, beiges impart subtle ambient moods. Paired with soft lightings, the classic duo work to create wondrous spaces that seem like an artist’s vision. Whether light or dark, with beautifully eccentric variegations or not, the wide range of our Spanish, Turkish, Portuguese and Italian Granite is guaranteed to bring out the character of your interiors.</h4>
       <br>
       <h2 style="color: #050A4D;font-weight: normal;font-family: Trebuchet MS">Search Your Product</h2>
       <hr style="background: #050A4D;height: 3px;width: 37px;margin-left: 0px;margin-top: -20px;border:none;border-radius: 3px">
       <div style="float: left;clear: none">
	  	<select style="width: 230px;height: 33px;margin-top: 40px;border-radius: 5px;margin-right: 30px"  id="source" name="source" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
		    <option value="Ceramic Tiles">Ceramic Tiles</option>
	    </select>
	    </div>
	    <div style="float: left;clear: none">
	    <select style="width: 200px;height: 33px;margin-top: 40px;border-radius: 5px;margin-right: 30px" id="status" name="status" onchange="javascript: typedropdown(this.options[this.selectedIndex].value);">
		    <option value="0">Choose Type</option>
		    <option value="Floor Tiles">Floor Tiles</option>
		    <option value="Wall Tiles">Wall Tiles</option>
	    </select>
		</div>
		<div style="float: left;clear: none">
	    <select style="width: 200px;height: 33px;margin-top: 40px;border-radius: 5px;margin-right: 60px" id="color" name="color">
		    <option value="0">Choose Color</option>
	    </select>
		</div>
		<form action="back" method="post">
		<div style="float: right;clear:none;margin-top: 40px">
				<button class="btn" name="marble" value="back" >
				<img src="static/images/back.png"style="float:left;clear:none;margin-top: -2pt" width="22" height="20">
	        	Back</button>
		</div>
		</form>
		<div style="margin-top: 48px;">
			<button class="btnn" onclick="search()"  name="marble" value="Search">Search</button>
	    </div>
    </div>
    <div id="container1" >
		      <div class="myslide">
		      	 <button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal1" class="myBtn" name="marble" >
		         <img  style="margin-right: 20px;margin-bottom: 20px;display: block;box-shadow: 0px 0px 10px gray" src="static/images/Amazone Ice New.jpg" width="280px" height="150">
		          <div class="overlay">
				    <div class="text">Amazone Ice New</div>
				  </div>
				  </button>
				 </div>
					<div id="myModal1" class="modal">
					  <div class="modal-content">
					    <span class="close" id="myModal1">&times;</span>
					    <form action="taddtocart" method="post">
					    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" class="asd" value="Amazone Ice New" name="marblee" />
					    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Amazone Ice New.jpg" width="470px" height="250"><br>
					    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
					     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
						    <option value="0">Select Size(Feet by Feet)</option>
						    <option value="4">2 x 2</option>
						    <option value="9">3 x 3</option>
						    <option value="16">4 x 4</option>
						    <option value="25">5 x 5</option>
					    </select>
				    		<input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Floor Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
					       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
					    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
					    </form>
					  </div>
					</div>
				 <div class="myslide">
					  <button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal2" class="myBtn" name="marble" >
			         <img  style="margin-right: 20px;margin-bottom: 20px;box-shadow: 0px 0px 10px gray" src="static/images/Aurisina Roma.jpg" width="280px" height="150">
			         <div class="overlay">
					    <div class="text">Aurisina Roma</div>
					  </div>
					  </button>
					</div>
					<div id="myModal2" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal2">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Aurisina Roma" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Aurisina Roma.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Floor Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					 <div class="myslide">
					  <button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal3" class="myBtn" name="marble" >
			         <img  style="margin-right: 20px;margin-bottom: 20px;box-shadow: 0px 0px 10px gray" src="static/images/Breccia Avorio.jpg" width="280px" height="150">
			         <div class="overlay">
					    <div class="text">Breccia Avorio</div>
					  </div>
					  </button>
					</div>
					<div id="myModal3" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal3">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Breccia Avorio" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Breccia Avorio.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Floor Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					 <div class="myslide">
					  <button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal4" class="myBtn" name="marble" >
			         <img  style="margin-right: 20px;margin-bottom: 20px;box-shadow: 0px 0px 10px gray" src="static/images/Endurance Gris.jpg" width="280px" height="150">
			         <div class="overlay">
					    <div class="text">Endurance Gris</div>
					  </div>
					  </button>
					</div>
					<div id="myModal4" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal4">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Endurance Gris" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Endurance Gris.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Floor Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					 <div class="myslide">
					  <button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal5" class="myBtn" name="marble" >
			         <img  style="margin-right: 20px;margin-bottom: 20px;box-shadow: 0px 0px 10px gray" src="static/images/Greek White.jpg" width="280px" height="150">
			         <div class="overlay">
					    <div class="text">Greek White</div>
					  </div>
					  </button>
					</div>
					<div id="myModal5" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal5">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Greek White" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Greek White.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Floor Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					 <div class="myslide">
					  <button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal6" class="myBtn" name="marble" >
			         <img  style="margin-right: 20px;margin-bottom: 20px;box-shadow: 0px 0px 10px gray" src="static/images/Leon White.jpg" width="280px" height="150">
			         <div class="overlay">
					    <div class="text">Leon White</div>
					  </div>
					  </button>
					</div>
					<div id="myModal6" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal6">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Leon White" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Leon White.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Floor Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					 <div class="myslide">
					  <button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal7" class="myBtn" name="marble" >
			         <img  style="margin-right: 20px;margin-bottom: 20px;box-shadow: 0px 0px 10px gray" src="static/images/Magnum Hazel.jpg" width="280px" height="150">
			         <div class="overlay">
					    <div class="text">Magnum Hazel</div>
					  </div>
					  </button>
					</div>
					<div id="myModal7" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal7">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Magnum Hazel" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Magnum Hazel.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Floor Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					 <div class="myslide">
					  <button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal8" class="myBtn" name="marble" >
			         <img  style="margin-right: 20px;margin-bottom: 20px;box-shadow: 0px 0px 10px gray" src="static/images/Marfil Creme.jpg" width="280px" height="150">
			         <div class="overlay">
					    <div class="text">Marfil Creme</div>
					  </div>
					  </button>
					</div>
					<div id="myModal8" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal8">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Marfil Creme" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Marfil Creme.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Floor Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					 <div class="myslide">
					  <button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal9" class="myBtn" name="marble" >
			         <img  style="margin-right: 20px;margin-bottom: 20px;box-shadow: 0px 0px 10px gray" src="static/images/Reale Miel.jpg" width="280px" height="150">
			         <div class="overlay">
					    <div class="text">Reale Miel</div>
					  </div>
					  </button>
					</div>
					<div id="myModal9" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal9">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Reale Miel" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Reale Miel.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Floor Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					 <div class="myslide">
					  <button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal10" class="myBtn" name="marble" >
			         <img  style="margin-right: 20px;margin-bottom: 20px;box-shadow: 0px 0px 10px gray" src="static/images/Silex Gris.jpg" width="280px" height="150">
			         <div class="overlay">
					    <div class="text">Silex Gris</div>
					  </div>
					  </button>
					</div>
					<div id="myModal10" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal10">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Silex Gris" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Silex Gris.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Floor Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
	</div>
    <div id="container2">
		     	<div class="myslide">
	     			<button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal11" class="myBtn" name="marble" >
				        <img  style="margin-right: 20px;margin-bottom: 20px;display: block;box-shadow: 0px 0px 10px gray" src="static/images/Alcor 26.jpg" width="280px" height="150">
			            <div class="overlay">
					    <div class="text">Alcor 26</div>
	   				    </div>
   					</button>
				</div>
				<div id="myModal11" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal11">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Alcor 26" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Alcor 26.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Wall Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					<div class="myslide">
	     			<button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal12" class="myBtn" name="marble" >
				        <img  style="margin-right: 20px;margin-bottom: 20px;display: block;box-shadow: 0px 0px 10px gray" src="static/images/Allura Blue Decor.jpg" width="280px" height="150">
			            <div class="overlay">
					    <div class="text">Allura Blue Decor</div>
	   				    </div>
   					</button>
				</div>
				<div id="myModal12" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal12">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Allura Blue Decor" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Allura Blue Decor.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Wall Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					<div class="myslide">
	     			<button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal13" class="myBtn" name="marble" >
				        <img  style="margin-right: 20px;margin-bottom: 20px;display: block;box-shadow: 0px 0px 10px gray" src="static/images/Arco White.jpg" width="280px" height="150">
			            <div class="overlay">
					    <div class="text">Arco White</div>
	   				    </div>
   					</button>
				</div>
				<div id="myModal13" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal13">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Arco White" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Arco White.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Wall Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					<div class="myslide">
	     			<button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal14" class="myBtn" name="marble" >
				        <img  style="margin-right: 20px;margin-bottom: 20px;display: block;box-shadow: 0px 0px 10px gray" src="static/images/Blend Brown Decor.jpg" width="280px" height="150">
			            <div class="overlay">
					    <div class="text">Blend Brown Decor</div>
	   				    </div>
   					</button>
				</div>
				<div id="myModal14" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal14">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Blend Brown Decor" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Blend Brown Decor.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Wall Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					<div class="myslide">
	     			<button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal15" class="myBtn" name="marble" >
				        <img  style="margin-right: 20px;margin-bottom: 20px;display: block;box-shadow: 0px 0px 10px gray" src="static/images/Canica.jpg" width="280px" height="150">
			            <div class="overlay">
					    <div class="text">Canica</div>
	   				    </div>
   					</button>
				</div>
				<div id="myModal15" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal15">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Canica" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Canica.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Wall Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					<div class="myslide">
	     			<button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal16" class="myBtn" name="marble" >
				        <img  style="margin-right: 20px;margin-bottom: 20px;display: block;box-shadow: 0px 0px 10px gray" src="static/images/Canica LT.jpg" width="280px" height="150">
			            <div class="overlay">
					    <div class="text">Canica LT</div>
	   				    </div>
   					</button>
				</div>
				<div id="myModal16" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal16">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Canica LT" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Canica LT.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Wall Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					<div class="myslide">
	     			<button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal17" class="myBtn" name="marble" >
				        <img  style="margin-right: 20px;margin-bottom: 20px;display: block;box-shadow: 0px 0px 10px gray" src="static/images/Cord Blue.jpg" width="280px" height="150">
			            <div class="overlay">
					    <div class="text">Cord Blue</div>
	   				    </div>
   					</button>
				</div>
				<div id="myModal17" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal17">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Cord Blue" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Cord Blue.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Wall Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					<div class="myslide">
	     			<button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal18" class="myBtn" name="marble" >
				        <img  style="margin-right: 20px;margin-bottom: 20px;display: block;box-shadow: 0px 0px 10px gray" src="static/images/Diana Silk.jpg" width="280px" height="150">
			            <div class="overlay">
					    <div class="text">Diana Silk</div>
	   				    </div>
   					</button>
				</div>
				<div id="myModal18" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal18">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Diana Silk" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Diana Silk.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Wall Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					<div class="myslide">
	     			<button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal19" class="myBtn" name="marble" >
				        <img  style="margin-right: 20px;margin-bottom: 20px;display: block;box-shadow: 0px 0px 10px gray" src="static/images/Dusk.jpg" width="280px" height="150">
			            <div class="overlay">
					    <div class="text">Dusk</div>
	   				    </div>
   					</button>
				</div>
				<div id="myModal19" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal19">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Dusk" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Dusk.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Wall Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
					<div class="myslide">
	     			<button type="Submit" style="border: none;margin-right:20px;outline: none;background: transparent;" value="myModal20" class="myBtn" name="marble" >
				        <img  style="margin-right: 20px;margin-bottom: 20px;display: block;box-shadow: 0px 0px 10px gray" src="static/images/Dusk Decor.jpg" width="280px" height="150">
			            <div class="overlay">
					    <div class="text">Dusk Decor</div>
	   				    </div>
   					</button>
				</div>
				<div id="myModal20" class="modal">
						  <div class="modal-content">
						    <span class="close" id="myModal20">&times;</span>
						    <form action="taddtocart" method="post">
						    <input style="color:#050A4D;font-family:cursive;font-size: 24px;font-weight: bold;border: none;background: transparent;margin-left:-100px;padding-top: 20px;" type="text" value="Dusk Decor" name="marblee" />
						    <img  style="box-shadow: 0px 0px 10px gray;margin-bottom: 20px;" src="static/images/Dusk Decor.jpg" width="470px" height="250"><br>
						    <input type="Number" name="quantity" style="width: 203px;height: 30px;border-radius: 5px;margin-right: 20px;border: 1px solid #9D9D9D;text-align: center;"  placeholder="Enter Quantity(No. of Pieces)" id="quantity" required="">
						     <select style="width: 200px;height: 33px;margin-top: 20px;border-radius: 5px;margin-right: 10px;" id="size" name="size" required="">
							    <option value="0">Select Size(Feet by Feet)</option>
							    <option value="4">2 x 2</option>
							    <option value="9">3 x 3</option>
							    <option value="16">4 x 4</option>
							    <option value="25">5 x 5</option>
						    </select>
						    <input type="hidden" value="Ceramic Tiles" name="category">
						    <input type="hidden" value="Wall Tiles" name="type">
						    <input type="hidden" value="ND" name="color">
						       <button type="Submit" style="border: none;margin-top: 20px;width: 200px;height: 50px;font-size: 17px;color: white;border-radius: 10px;margin-left:-10px;" class="btn" name="marble" value="Add to Cart" >
						    	<img src="static/images/cart.png"style="float:left;clear:none;margin-top: -2pt;margin-right: -5px" width="30" height="22">Add to Cart</button>
						    </form>
						  </div>
					</div>
				 
			</div>
<script type="text/javascript" src="\static\js\jquery-2.1.4.min.js"></script>  
<script src="\static\js\jquery.magnific-popup.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		typedropdown();
		search();
		$('.myBtn').click(function(){
			var id=$(this).attr("value");
			$("#"+id).css('display','block');
			$('.close').on('click',function(){
			  		$("#"+id).css('display','none');
				});
			$('.btn').click(function(){
				alert("Item is Added to Cart");
			});
		});
	});
    function typedropdown(listindex){
    	switch(listindex){
    		case "Polished" :
    		 var q = document.getElementById("color");
    		 q.remove(q.length-1);
    		 break;
    		case "Brushed":
    		 document.getElementById("color").options[3]=new Option("White","White");
    		 break;
    	}
    }
     function search(){
	    var x=document.getElementById("source").value;
	    var y=document.getElementById("status").value;
	    if(x=="Ceramic Tiles" && y=="Floor Tiles"){
	    	document.getElementById("container1").style.visibility="visible";
	    	document.getElementById("container2").style.visibility="hidden";
	    }
	    else if(x=="Ceramic Tiles" && y=="Wall Tiles"){
	    	document.getElementById("container1").style.visibility="hidden";
	    	document.getElementById("container2").style.visibility="visible";	
	    }
	    else{
	    	document.getElementById("container1").style.visibility="hidden";
	    	document.getElementById("container2").style.visibility="hidden";	
	    }
	   }	
</script>

</body>
</html>